#billSplit-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#innerBox {
  background-color: #AEDADB;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

#innerBox label {
  display: block;
}

/* Small devices */
@media screen and (max-width: 767px) {
  #innerBox {
  }
}

/* Medium devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #innerBox {
  }
}

/* Large devices */
@media screen and (min-width: 993px) {
  #innerBox {
  }
}